.index-main {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.index-top {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.index-top-user {
  width: 30vw;
  height: 8vh;
  border: 1px solid black;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-form {
  height: 6vh;
  width: 12vw;
  color: black;
  font-size: 2.5vh;
  padding: auto;
  text-align: center;
  padding-top: 2vh;
}

.index-top-form {
  width: 30vw;
  height: 8vh;
  border: 1px solid black;
  color: black;
  font-size: 4vh;
  padding: auto;
  text-align: center;
  margin-left: 10px;
}

.index-middle {
  width: 100%;
  height: 8vh;
  display: flex;
  margin-top: 2vh;
  justify-content: flex-start;
  align-items: flex-end;
}

.index-middle-form {
  width: 30vw;
  height: 5vh;
  border: 1px solid black;
  color: black;
  font-size: 4vh;
  padding: auto;
  text-align: center;
  margin-left: 10px;
}

.index-bottom {
  width: 100%;
  height: 78vh;
  margin-top: 1vh;
  overflow-y: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.index-bottom-frame {
  width: 30vw;
  height: 75vh;
  border: 1px solid black;
  margin-left: 10px;
  overflow: scroll;
  justify-content: center;
}

.index-bottom-form {
  margin-left: 10px;
  width: 28vw;
  height: 5vh;
  font-size: 3vh;
  margin-top: 3vh;
  border: 1px solid black;
  text-align: center;
}

.span-message {
  margin-left: 1vw;
  font-size: 1vh;
}