.timer-main {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

.timer-top {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.timer-top-form {
  width: 20vw;
  height: 8vh;
  border: 1px solid black;
  color: black;
  font-size: 4vh;
  padding: auto;
  text-align: center;
  margin-left: 10px;
}

.timer-middle {
  width: 100%;
  height: 10vh;
  display: flex;
  margin-top: 2vh;
  justify-content: flex-start;
  align-items: flex-end;
}

.timer-middle-form {
  width: 20vw;
  height: 5vh;
  border: 1px solid black;
  color: black;
  font-size: 4vh;
  padding: auto;
  text-align: center;
  margin-left: 10px;
}

.timer-bottom {
  width: 100%;
  height: 60vh;
  margin-top: 1vh;
  overflow-y: scroll;
}

.timer-tasks {
  height: 5vh;
  width: 80vw;
  border: 1px solid black;
  margin-bottom: 1vh;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.timer-bottom-form {
  padding: auto;
  margin-left: 10px;
  width: 20vw;
  font-size: 2vh;
}

a {
  text-decoration: none;
}