.form-main {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.render-error {
  display: flex;
  color: red;
  justify-content: center;
  margin-bottom: 5vh;
}

.form-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

/* エラー表示時にレイアウトを崩れない様にする */
.field_with_errors {
  display: contents;
}