.form-main {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.render-error {
  display: flex;
  color: red;
  justify-content: center;
}

/* エラー表示時にレイアウトを崩れない様にする */
.field_with_errors {
  display: contents;
}